
/*navbar */
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}
#logo{
    margin: 12px 36px;
}
#logo img{
    height: 45px;
    margin: 2px 4px;
}
#navbar::before{
    content: "";
    background-color: rgb(204, 252, 133);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 24px;
    border-radius: 20px ;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: white;
    background-color: brown;
}
/*home section*/
#home{
    display: flex;
    flex-direction: column;
    height: 550px;
    top: 0px;
    left: 0px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(https://cdn.pixabay.com/photo/2017/09/07/08/54/money-2724241_1280.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#home h1{
    color: black;
    text-align: center;
}
#home p{
    text-align: center;
    font-size: 1.5rem;
}
/*secondary*/
#banking{
    margin: 34px;
    display: flex;
}
#banking .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(104, 245, 245);
}
#banking .box p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#banking .box img{
    height: 160px;
    margin: auto;
    display: block;
}
/*Utility Classes*/
.h-primary{
    font-size: 2.8rem;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: Red; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin: 2px 4px;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #ffff80;
}
