@charset "ISO-8859-1";
.login{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://cdn.pixabay.com/photo/2014/10/21/12/28/money-496229__480.jpg);
    
    position: absolute;
}
.form-box{
    height: 300px;
    width: 480px;
    position: relative;
    margin: 6% auto;
    background: linen;
    padding: 5px;
}
.head{
    text-align: center;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input-group{
    position: absolute;
    width: 280px;
    transition: .5s;
    right: 100px;
    top: 90px;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 100px;
    cursor: pointer;
    display:inline-block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 28px;
    
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

